* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 17px;
    transition: .3s;
}

body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #141414;
    /*background-image: url("../image/2.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}

.main {
    width: fit-content;
    height: auto;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    /*margin: 20px auto;*/
    width: 24rem;
    margin-left: 0;
    height: auto;
    background-color: #191919;
    border-radius: 30px;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, .5);
    background-attachment: fixed;
}

.icon-bar {
    width: auto;
    margin: 25px 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon button {
    background: transparent;
    margin: 3px;
    margin-top: 10px;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    /*one*/
}

.icon button img {
    /*this i removed the background color of this element*/
    background-blend-mode: multiply;
    height: 40px;
    width: auto;
    border-radius: 20px 0 20px 0;
    filter: invert(100%);
    transition-duration: 900ms;
}

.std {
    font-size: 900px;
    font-family: tahoma;
}

.logo img {
    height: 40px;
    width: auto;
    border-radius: 50%;
    margin-top: 5px;
    filter: invert(0%);
    transition-duration: 2000ms;
    transition-property: transform;
}

.logo img:hover {
    transform: rotate(360deg);
}

.screen {
    width: 100%;
    min-height: 200px;
    position: relative;
    box-shadow: 0 10px 10px -8px rgb(0 0 0);
    border-radius: 0 0 10px 10px;
    text-align: center;
    font-size: larger;
    background-color: #191919;
    color: rgba(156, 87, 147, 0.9);
    border-width: 0px;
}

.buuton-filed {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 15px;
}

.function-buttons {
    padding: 7px 0;
}

.function-buttons .row1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.function-buttons .row1 button {
    margin: 2px 0;
    background: transparent;
    width: 16.6%;
    color: rgb(119, 116, 116);
    /*two*/
    border: none;
    cursor: pointer;
    font-size: 18px;
}

#mc {}

.function-buttons .row1 button:hover {
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, .3);
}

.button-area div div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button-area div div button {
    width: 100%;
    padding: 15px;
    margin: 10px;
    border: none;
    background: transparent;
    color: white;
    /*three*/
    box-shadow: 1px 0 7px 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.button-area div div button:hover {
    background-color: rgba(12, 12, 12, 0.7);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
}

.button-area div div button:active {
    background-color: rgba(12, 12, 12, 0.7);
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 1);
}

.button-area .operator-button div button {
    color: rgba(255, 255, 255, .5);
    /*four*/
}

.button-area .number-button .row6 .histry {
    font-size: 18px;
}

#equal-sign {
    background-color: #A160FB;
    transition: all .5s;
    height: 70px;
}

#equal-sign:hover {
    background-color: #044e1d;
    box-shadow: 0 0 0 0 #000;
}

.menu {
    width: fit-content;
    margin: 40px 0;
    margin-left: auto;
    margin-right: 5px;
    height: fit-content;
    padding: 10px;
    background-attachment: fixed;
    line-height: 30px;
    background-color: rgb(39, 37, 37);
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, .5);
    border-radius: 30px 0 30px 30px;
    margin: 40px 0;
    transition: opacity 1000ms;
}

.menu button {
    width: fit-content;
    margin: 3px;
    padding: 3px;
    background-color: transparent;
    color: rgba(184, 122, 28, 0.9);
    border: none;
    border: 0.5px solid rgba(255, 255, 255, .6);
    border-radius: 5px;
    display: flex;
}

.menu button:hover {
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .4);
    border: none;
    transform: 3.5s;
}

.menu button img {
    width: 20px;
    margin: 2px;
    height: auto;
    filter: invert(100%);
}

#history {
    width: 300px;
    height: fit-content;
    position: relative;
    right: 0;
    margin: 0 auto;
    margin-left: 5px;
    bottom: 0;
    color: white;
    transition: opacity 1000ms;
    opacity: 100%;
    background-attachment: fixed;
    background-color: rgb(39, 37, 37);
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, .5);
    border-radius: 30px 0 30px 30px;
    padding: 10px;
}

.ellipse-bg {
    background-color: #A160FB;
    width: 350px;
    height: 350px;
    left: 45%;
    position: absolute;
    transform: skewX(-10deg) translate(100px, -90px);
    z-index: -1;
    border-radius: 50%;
}

.hidden {
    opacity: 0;
}